.blog_wrapper {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.blog_header {
  width: 100%;
  text-align: center;
}

.blog_header h2 {
  margin: 30px 0;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #42535E;
}

.blog_header p {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: #42535E;
}

.blog_content {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex: 1
}

/* SIDEBAR COMPONENT */
.blog_sidebar {
  min-width: 270px;
  padding-left: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search_bar {
  width: 80%;
  padding: 8px 10px 8px 30px;
  border: 1px solid #D9E2E8;
  font-size: 16px;
  color: #3D4E57;
}

.search_bar:focus-visible {
  outline: none;
}

.blog_category_header {
  /* font-family: 'Montserrat'; */
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.blog_categories {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.blog_category_button {
  padding: 8px 15px 8px 15px;
  font-size: 12px;
  border: 1px solid #D9E2E8;
  font-weight: 400;
  color: #54656F;
}

.blog_category_button:hover {
  border: 1px solid #2DB572;
}

.blog_category_button__active {
  border: 1px solid #2DB572;
}

/* main */

.blog_main {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.blog_main_item {
  width: 315px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.blog_main_item:hover>h5 {
  color: #2DB572;
}

.blog_main_item>span {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 22px;
  color: #42535E;
}

.blog_main_item>h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #42535E;
}

.blog_main_footer {
  margin: 50px 0 80px 0;
}

.blog_pagination {}

.blog_pagination__item {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 2px;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  color: #6C8092;
}

.blog_pagination__item__active{
  background-color: #EDF3F6;
}

.blog_pagination__item:hover{
  background-color: #EDF3F6;
  color:#000;
}

.blog_pagination__item__next{
  width: auto;
  padding: 0 10px;
  background-color: #EDF3F6;

}